@keyframes ldio-i1thbwttuuo {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-i1thbwttuuo div {
  left: 96px;
  top: 53px;
  position: absolute;
  animation: ldio-i1thbwttuuo linear 1s infinite;
  background: #85a2b6;
  width: 8px;
  height: 22px;
  border-radius: 2.42px / 2.42px;
  transform-origin: 4px 47px;
}.ldio-i1thbwttuuo div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #85a2b6;
}.ldio-i1thbwttuuo div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #85a2b6;
}
.loadingio-spinner-spinner-4f79q8jjg7d {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-i1thbwttuuo {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-i1thbwttuuo div { box-sizing: content-box; }
